<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome
  </h1>
  <!--<input [(ngModel)]="register.username" placeholder="username"><br><br>-->
  <!--<input [(ngModel)]="register.password" type="password" placeholder="password"><br><br>-->
  <!--<input [(ngModel)]="register.email" placeholder="Email"><br><br>-->
  <!--<button (click)=" registerUser()">Register Now</button>-->

</div>
<!--<h1> Hi Timer</h1>-->

    <nav>
      <a routerLink="/timer" routerLinkActive="active">Timer</a>
      <a routerLink="/userdetail" routerLinkActive="active">userdetail</a>
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/register" routerLinkActive="active">Register</a>
      <a routerLink="/test" routerLinkActive="active">Test</a>

    </nav>
    <router-outlet></router-outlet>
<!--<app-timer></app-timer>-->
