<div style="text-align:center">

  <!--<input [(ngModel)]="register.username" placeholder="username"><br><br>-->
  <!--<input [(ngModel)]="register.password1" type="password" placeholder="password"><br><br>-->
  <!--<input [(ngModel)]="register.password2" type="password" placeholder="confirm password"><br><br>-->
  <input [(ngModel)]="register.email" placeholder="Email"><br><br>
  <input [(ngModel)]="register.password" type="password" placeholder="password"><br><br>

  <button (click)=" registerUser()">Register Now</button>

</div>
